 header {
   position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    z-index: 999;
 }
header {
   display:flex;
    justify-content: space-between;
}
 .searchbox {
   padding-top: 12px;
   padding-right: 2rem;
   top: 10px;
   font-weight: bold;
   background-color: white;
   height: 30px;
   width: 300px;
   font-size: 20px;
   border-radius: 1rem;
   font-family: sans-serif;
 }
 #search {
   font-size: 20px;
 }

body {
   height:10000px;
}
.sugoma {
   height:700px;
   width: 400px;
   background-color:peru;
}
#box{
   height: 700px;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

footer{text-align:center;font-size:20px
}
